*{
    margin: 0;
    padding: 0 ;
}
.container{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
}
.form-data{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(4fr,1fr);

}
.m-t-30{
    margin-top: 12px;
    margin-left: 20px;
}

.header{
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
  font-family: 'Lato', sans-serif;;
}
input[type="text"],
input[type="tel"],
input[type="email"],
textarea{
    padding: 10px;
    display: block;
    margin-left: 12px;
    margin: 0 10 20px;
    width: 50%;
    box-sizing: border-box; 
    /* content ka size acc to box hoga */
    font-family: Monaco monospace;
    border: solid 1px #777;
    /* border-top: none; */
    /* outline: none; */
}



.Rounded_Rectangle_2{
    /* background: url(unknown.png); */
    border-radius: 10px;
    /* background-color:#D5CFE1; */
    position: absolute;
    left: 780px;
    top: 200px;
    width: 500px;
    height: 300px;
    z-index: 2;
    /* overflow: hidden; */
    box-shadow: lightslategrey;
    /* grid-area: card; */
  }
.company-name h3{
    font-size: 1.2em;
    font-family: "Lucida Sans Unicode";
    color:yellow;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 830px;
    top: 320px;
    z-index: 5;
    grid-area: card;
    padding-top: 40px;
}
  .Name h2{
    font-size: 1.2em;
    font-family: "Lucida Sans Unicode";
    color: yellow;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 1130px;
    top: 250px;
    z-index: 5;
    grid-area: card;
    padding-top: 40px;
  }

  .address {
    width: 20%;
    font-size: 1.2em;
    font-family: "Lucida Sans Unicode";
    color: yellow;
    line-height: 1.2;
    text-align: justify;
    position: absolute;
    left: 1130px;
    top: 380px;
    grid-area: card;
    z-index: 5;
    padding-top: 40px;
  }

  .phone-number{
    
        width: 20%;
        font-size: 1.2em;
        grid-area: card;
        font-family: "Lucida Sans Unicode";
        color: yellow;
        line-height: 1.2;
        text-align: justify;
        position: absolute;
        left: 1130px;
        top: 340px;
        z-index: 5;
        padding-top: 40px;
      
  }

  .street-address{
    
    width: 20%;
    font-size: 1.2em;
    font-family: "Lucida Sans Unicode";
    color: yellow;
    line-height: 1.2;
    text-align: justify;
    grid-area: card;
    position: absolute;
    left: 1130px;
    padding-top: 40px;
    top: 420px;
    z-index: 5;
  
}
.form-control1{
    
  font-size: 14px;
  border: 2px solid gray;
  border-radius: 4px;
}

  .Layer_2 img{
    /* background-image: url("download.png"); */
    position: absolute;
    left: 1156px;
    top: 280px;
    /* right: 105px; */
    border-radius: 15px;
    width: 230px;
    height: 220px;
    padding-top: 40px;
    grid-area: card;
    z-index: 6;
  }

  p{
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
  }
  .btn{
    margin-top: 2%;
    margin-left: 38%;
    bottom: 50px;
    font-size: medium;
    padding: 8px 70px 8px 70px;
    display: inline-block;  
  }
  .btndiv{
    display: inline-block; 
    margin-left: 14%;
  }
  .files{
    margin-top: 2%;
    margin-left: 0%;
    font-size: medium;
    padding: 8px 70px 8px 37px;
    display: inline-block;
  }